@font-face {
  font-family:"Balsamiq Sans";
  src: url('./BalsamiqSans-Regular.ttf')
}
body{
  font-family: Balsamiq Sans, sans-serif;
}

header {
  width:100%;
}

.container-hn{
  margin:0 auto;
  padding:0;
  background-color: #F6F6EF;
}
/* ==================== */

.header {
  align-items: center;
  display:flex;
  flex-direction: row;
  background: #FF742B;
  width:100%;
  justify-content: space-between;
  height:55px;

}
.header * {
  margin: 0 10px;
}
.header div {
  width:100%;
  margin-right: 25px;
}
.header div input {
  font-size:18px;
  width:100%;
  height:35px;
  text-indent:55px;
  padding-top:16px;
  padding-bottom:16px;
}
.header h2, .header h3{
  display:none;
}
.fa-search {
  color:#FF742B;
  position: absolute;
  font-size: 25px;
  top:15px;
  padding-left:15px;
}

.btn-light{
  background-color: transparent!important;
  border: 1px solid #ccc;
}

.dropdown-container {
  margin:15px 10px;
}
.feed{
  margin:15px;
}

.post-data{
  color:#747d8c;
  font-size:11px;
}
.story-text{
  font-family:'lato', sans-serif;
  font-size:14px;
  line-height: 15px;

}
.story-text p{
  margin-top:7px;
  margin-bottom:7px;
}

.pagination{
  text-align: center;
  width:230px;
  margin:0 auto;
}
.pagination li{
  margin:10px;
}
.pagination li a{
  color:grey;
}
.active a{
  color:#f0932b !important;
}
/* =============== */
/** Media Queries */
@media only screen and (min-width:1204px) {
  .container-hn {
    width:80%;

  }
}

@media only screen and (min-width:900px){
  .header h2, .header h3{
    display: block !important;
  }
}