@font-face {
  font-family:"Balsamiq Sans";
  src: url('./BalsamiqSans-Regular.ttf')
}
body{
  font-family: Balsamiq Sans, sans-serif;
}

header {
  width:100%;
}

.container {
  margin:0 auto;
}
/* ==================== */

.header {
  align-items: center;
  display:flex;
  flex-direction: row;
  background: #FF742B;
  width:100%;
  justify-content: space-between;
  height:55px;

}
.header * {
  margin: 0 10px;
}
.header div {
  width:100%;
  margin-right: 25px;
}
.header div input {
  font-size:18px;
  width:100%;
  height:35px;
  text-indent:55px;
}

.fa-search {
  color:#FF742B;
  position: absolute;
  font-size: 25px;
  top:15px;
  padding-left:15px;
}
/* =============== */
/** Media Queries */
@media only screen and (min-width:1200px) {
  .container {
    max-width: 1080px;
  }

}